<div class="carlos-flex carlos-justify-center carlos-mt-[10px] carlos-mb-[50px] carlos-hide-mobile"
  style="height: 50px; width: fit-content; margin-left: auto; margin-right: auto; border-radius: 4px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 24px 38px rgba(0, 0, 0, 0.03), 0px 9px 46px rgba(0, 0, 0, 0.03), 0px 11px 15px rgba(0, 0, 0, 0.03);  position: absolute;
    bottom: -20px; left: 0; right: 0; z-index: 9; margin-bottom: 0px; margin-top: 0px;">
  <div class="carlos-flex carlos-justify-center carlos-align-center carlos-text-lg carlos-bold" style="width: 50px; border-radius: 4px; color: #175D90; background: #175d9026;">
    #1
  </div>
  <div class="carlos-flex carlos-flex-column carlos-p-sm carlos-uppercase carlos-justify-center" style="background-color: #fff;">
    <div class="carlos-bold" style="font-size: var(--carlos-fontSizes-sm);">
      {{ product.metafields.carlos.recommended_title }}
    </div>
    <div style="font-size: var(--carlos-fontSizes-xs); letter-spacing: 0.5px;">
      {{ product.metafields.carlos.recommended_description }}
    </div>
  </div>
</div>