<section class="announsmentbr">
  <div class="container-fluid">
    <div class="bar-sec">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><h2>{{ section.settings.heading }}</h2></strong>
        <a href="javascript:void(0)" class="buy-ntn btn">{{ section.settings.btn_name }}</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "btn_name",
        "label": "Button Name"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button Link"
      }
    ]
  }
{% endschema %}