<div class="vsl__banner-wrapper">
  <div class="vsl__banner-header">
    {{ section.settings.section_heading }}
  </div>
  <div class="vsl__content-wrapper">
    <div id="vid_6743f9f26fbe5b000a16deeb" style="position: relative; width: 100%; padding: 125% 0 0;">
      <img
        id="thumb_6743f9f26fbe5b000a16deeb"
        src="https://images.converteai.net/aed835e2-ab6e-4849-98d2-739023ca6fe0/players/6743f9f26fbe5b000a16deeb/thumbnail.jpg"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: block;"
        alt="thumbnail"
      >
      <div
        id="backdrop_6743f9f26fbe5b000a16deeb"
        style=" -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute; top: 0; height: 100%; width: 100%; "
      ></div>
    </div>
  </div>

</div>

<style>
  .vsl__banner-header {
    background-color: a;
  }

</style>

<script type="text/javascript" id="scr_6743f9f26fbe5b000a16deeb">
  var s = document.createElement('script');
  (s.src =
    'https://scripts.converteai.net/aed835e2-ab6e-4849-98d2-739023ca6fe0/players/6743f9f26fbe5b000a16deeb/player.js'),
    (s.async = !0),
    document.head.appendChild(s);
</script>
<style>
  .elementor-element:has(#smartplayer) {
    width: 100%;
  }
</style>

{% schema %}
{
  "name": "Buy box vsl",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Buy box vsl"
    }
  ]
}
{% endschema %}
