.buy-box__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.buy-box__section-badge {
  padding: 22px 45px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.section-badge__title {
  font: 29px 'Sailec Bold' !important;
  color: white;
  text-align: center;
  line-height: 26px !important;
}

.section-badge__subinfo {
  font: 19px 'Sailec Light' !important;
  color: white !important;
  text-align: center;
  line-height: 24px !important;
}

.buy-box__cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.buy-box__card {
  width: 385px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  overflow: hidden;
  gap: 25px;
}

.buy-box__card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #35ACBF;
  flex-direction: column;
  width: 100%;
  padding-block: 15px;

}

.card__header-title {
  font: 27px 'Sailec Bold' !important;
  color: white;
  line-height: 32px !important;
}
.card__header-subtitle {
  font: 17px 'Sailec Medium' !important;
  color: white;
  line-height: 24px !important;
}

.card__product-img-wrapper {
  width: 335px;
  height: 255px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  background: #F5F7F7;

}

.card__product-img {
  object-fit: cover;
  width: 335px;
  height: 255px;
}

.card__value-points {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  padding-inline: 25px;
  flex-direction: column;
  gap: 10px
}

.card__value-point {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font: 18px 'Sailec Medium' !important;
  color: #3B3B3B;
  gap: 10px;
  line-height: 25px !important;
  text-decoration: line-through;
}

.card__value-point svg {
  width: 15px;
  height: 15px;

}

.card__value-point svg rect {
  fill: #3B3B3B;
}

.card__price-wrapper {
  display: flex;
  
}

.card__single-value {
  font: 29px 'Sailec Medium';
  color: black;
  
}




