.buy-box__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.buy-box__section-badge {
  padding: 22px 45px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.section-badge__title {
  font: 29px 'Sailec Bold' !important;
  color: white;
  text-align: center;
  line-height: 26px !important;
}

.section-badge__subinfo {
  font: 19px 'Sailec Light' !important;
  color: white !important;
  text-align: center;
  line-height: 24px !important;
}

.buy-box__cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-box__card {
  width: 385px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: ;
}

.buy-box__card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #35ACBF;

}



