.vsl__footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vsl__footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 15px 'Inter';
  color: #3C3C3C;
}

.vsl__sci-ref-mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 70px;
}

.vsl__sci-ref-mobile-img {
  width: 240px;
  height: 70px;
  object-fit: cover;
}